*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    border-style: solid;
    border-color: #0004f8; */

}

h1{
    text-align: center;
    padding: 20px;
    color: darkgreen;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    border: solid brown 10px;
    border-radius: 12px;
}

span{
    padding-left: 50px;
    /* text-align: center; */
    color: #0004f8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    
}
p{
    padding: 10px;
    /* width: 500px; */
    padding-left: 30px;
    line-height: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

#firstP{
    background-color: #fffb00;
    color: blue;
    font-style: italic;
    /* height: 400px; */
}

#secondP{
    background-color: hsla(138, 29%, 56%, 0.267);
    color: rgb(30, 90, 146);
    font-style: oblique;
}

#thirdP{
    background-color: aqua;
    color: rgb(19, 90, 5);
    font-weight: bold;
}

#forthP{
    padding: 0px;
    color:#fffb00;
    background-color: #0004f8;
}
